<!DOCTYPE HTML>
<html>
<head>
	<title>ML Handwriting</title>
	<link rel="stylesheet" type="text/css" href="../content/css/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
	<script src="../scripts/js/requestDataBase.js"></script>
	<script src="../scripts/js/sampleWSData.js"></script>
	<script src="../scripts/js/main.js"></script>
<head>
<body>
Hello There 
<br/>
<canvas id="NumberCanvas" height="200" width="200"></canvas>
<br\>
<button id="scale">Submit</button>

<div id="results"></div>
</body>
</html>